<div *ngIf="showSplash" [class.splash-fade]="splashFading" class="splash-overlay">
  <div class="splash-inner">
    <div class="splash-text" aria-hidden="true">
      <ng-container *ngFor="let ch of displayedChars; let i = index">
        <span
          class="splash-letter"
          [class.pop]="animStates[i] === 'active' || animStates[i] === 'active-last'"
          [class.last-name]="i >= lastStart && i < (lastStart + lastLength)"
        >{{ ch }}</span>
      </ng-container>
    </div>
    <div class="splash-subtitle">Building Beyond Boundaries...</div>
  </div>
</div>

<div class="min-h-screen flex flex-col relative z-[1]">
  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>